/************* general style *************/
:root{
    /* font size */
    font-size: 62.5%;
    /* website colors */
    --Primary-color: #33449C;
    --Secondary-color: #7C3996;
    --Trinary-color: #EEEEEE;
    --Quaternary-color: #878787;
    --Quinary-color: #FFFFFF;
    --Senary-color: #000000;
    --padding-medium : 7rem;
}
input[type="submit"]{
    border: none;
    outline: none;
}
/************* general style end *************/


/************* blog style *************/
.article{
    padding: 0 var(--padding-medium);
    position: relative;
}
.article__blog{
    display: flex;
    flex-direction: row-reverse;
    gap: 1.5rem;
}
.article__blog--post{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.article__blog--post__details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.article__blog--post__details--upp__title{
    font-weight: 700;
    font-size: 40px;
    text-align: right;
}
.article__blog--post__details--low{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.article__blog--post__details--low__right{
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
    align-items: center;
    justify-content: flex-end;
    gap: 3.6rem;
}
.article__blog--post__details--low__right--para{
    font-weight: 400;
    font-size: 20px;
    text-align: right;
}
.article__blog--post__details--low__left{
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
}
.article__blog--post__details--low__left--icon{
    width: 26.97px;
    height: 24px;
    color: var(--Primary-color);
}
.article__blog--post__content{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: flex-end;
}
.article__blog--post__content--para{
    font-size: 20px;
    font-weight: 400;
    line-height: 2.6rem;
    text-align: justify;
}
.article__blog--post__content--img{
    width: 100%;
    height: 100vh;
    border-radius: 24px;
    flex-shrink: 0;
}
.article__blog--post__content--img img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}
.article__blog--items{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.article__blog--items__card{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 1.2rem;
    gap: .8rem;
    border-radius: 16px;
    border: 1px solid rgba(135, 135, 135, 1);
    text-align: right;
}
.article__blog--items__card span{
    display: block;
}
.article__blog--items__card--content__title{
    font-weight: 700;
    font-size: 20px;
}
.article__blog--items__card--img{
    width: 26rem;
    height: 20rem;
}
.article__blog--items__card--img img{
    width: 100%;
    height: 100%;
}
.article__blog--items__card--btn{
    background-color: var(--Primary-color);
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 16px;
    color: var(--Trinary-color);
    border-radius: 8px;
}
.article__blog--items__card--content{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.article__blog--items__card--content__rating{
    display: flex;
    flex-direction: row-reverse;
    gap: .5rem;
}
.article__blog--items__card--content__rating--icon{
    color: rgba(255, 153, 0, 1) !important;
}
.article__blog--items__card--content__stock{
    color: var(--Primary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 2rem;
    text-align: right;
}
.article__blog--items__card--content__price{
    color: var(--Quaternary-color);
    text-decoration: line-through;
    font-size: 16px;
    font-weight: 400;
    line-height: 2rem;
    text-align: right;
}
.article__blog--items__card--content__discount{
    color: var(--Secondary-color);
    font-size: 20px;
    font-weight: 900;
    line-height: 2.5rem;
    text-align: right;
}
/************* blog style end *************/


/************* Download style *************/
.article__download{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw 50vh;
    margin: 5rem 0;
    gap: 2.5rem;
    border: 2px solid rgba(202, 202, 202, 1);
    border-radius: 16px;
    border-style: dashed;
}
.article__download--name{
    font-size: 24px;
    font-weight: 400;
    line-height: 3.1rem;
    text-align: justify;
}
.article__download--btn{
    padding: 1.2rem 2rem;
    background-color: var(--Secondary-color);
    color: var(--Quinary-color);
    border-radius: 20px;
}
/************* Download style end *************/


/************* Rating style *************/
.article__rating--avarage{
    font-size: 24px;
    font-weight: 400;
    line-height: 3rem;
    text-align: center;
}
.article__rating--number{
    font-size: 16px;
    font-weight: 400;
    line-height: 2.1rem;
    text-align: center;
}
.article__rating--stars{
    text-align: center;
    padding: 2rem 0;
}
.article__rating--stars *{
    font-size: 30px;
    color: rgba(250, 165, 0, 1);
}
/************* Rating style end *************/


/***************************? Responsive ***************************/

@media screen and (max-width : 1000px) {
    .article__blog--items{
        display: none;
    }
    .article__blog--post__details--low__right--para{
        font-size: 12px;
        font-weight: 400;
    }


    /**************************** Download responsive ******************************/
    .article__download{
        display: none;
    }
    /**************************** Download responsive end ******************************/


    /**************************** Rating responsive ******************************/
    .article__rating{
        display: none;
    }
    /**************************** Rating responsive end ******************************/
}
/***************************? Responsive end ***************************/