@font-face {
    font-family: 'iran-yekanx';
    src: url("../assets/fonts/IRANYekanX/Webfonts/woff2/IRANYekanX-Regular.woff2");
}


/**************** general style ******************/
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    font-family: iran-yekanx;
}
:root{
    /* font size */
    font-size: 62.5%;
    /* website colors */
    --Primary-color: #33449C;
    --Secondary-color: #7C3996;
    --Trinary-color: #EEEEEE;
    --Quaternary-color: #878787;
    --Quinary-color: #FFFFFF;
    --Senary-color: #000000;
    --padding-medium : 7rem;
}
input[type="text"]{
    border: none;
    outline: none;
    text-align: right;
    background-color: inherit;
    color: var(--Quaternary-color);
}
a{
    text-decoration: none;
    color: var(--Senary-color);
}
ul{
    list-style: none;
}
body{
    display: flex;
    flex-direction: column;
    position: relative;
}
.section-title{
    font-weight: 700;
    font-size: 40px;
}
.section-para{
    font-weight: 400;
    font-size: 20px;
}
.section-author{
    font-weight: 400;
    font-size: 16px;
    color: var(--Secondary-color);
}
.hidden{
    display: none !important;
}
.here{
    color: var(--Secondary-color);
}
.push{
    transform: translateX(40rem);
}
/**************** general style end ******************/


/**************** header style ******************/
.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--Quinary-color);
    z-index: 50;
}
.header__landing{
    height: 4.8rem;
    width: 100%;
    background-color: var(--Primary-color);
}
.header__hamburger{
    display: none;
}
.header__menu{
    padding: 1.5rem 0;
}
.header__menu--upp{
    display: flex;
    position: fixed;
    background-color: var(--Quinary-color);
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    padding: 2.4rem var(--padding-medium);
    flex-direction: row-reverse;
    justify-content: space-between;
    z-index: 1;
    position: sticky;
}
.header__menu--upp__mobile-logo{
    display: none;
}
.header__menu--upp__mobile-bars{
    color: var(--Primary-color);
    display: none;
}
.header__menu--upp__right{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1.75rem;
}
.header__menu--upp__right--search{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 1.6rem;
    align-items: center;
    width: 44rem;
    height: 4.8rem;
    background-color: rgba(238, 238, 238, 0.93);
    border-radius: 1rem;
}
.header__menu--upp__right--search__bar{
    width: 100%;
}
.header__menu--upp__right--search__icon{
    width: 2rem;
    height: 2rem;
    color: rgba(135, 135, 135, 1);
    font-weight: 300;
}

.header__menu--upp__right--logo{
    width: 4.8rem;
    height: 4.8rem;
}
.header__menu--upp__right--logo img{
    width: 100%;
    height: 100%;
}
.header__menu--upp__left{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1.25rem;
}
.header__menu--upp__left--icon{
    width: 2.8rem;
    height: 2.8rem;
    color: var(--Primary-color);
}
.header__menu--low{
    display: flex;
    z-index: 49;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: row-reverse;
    font-weight: 400;
    gap: 1.75rem;
    align-items: center;
    margin: 1.75rem 0;
    font-size: 16px;
    position: relative;
    padding: 0 var(--padding-medium);
    z-index: 0;
}
.header__menu--low__items{
    display: flex;
    background-color: var(--Quinary-color);
    flex-direction: column;
    gap: 2rem;
    padding: 2.4rem;
    justify-content: space-between;
    position: absolute;
    top: 40px;
    right: 55px;
    border: 1px solid var(--Trinary-color);
    border-radius: 5px;
    transition: all 1s ease-in-out;
}
.header__menu--low__items__item{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: .5rem;
    align-items: center;
}
.header__menu--low__title{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
}
/**************** header style end ******************/


/**************** popular magazines style ******************/
.magazine{
    padding: 0 var(--padding-medium);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.magazine__popular{
    display: flex;
    flex-direction: column;
}
.magazine__popular--title{
    margin: 4rem 0;
    background-color: var(--Primary-color);
    padding: 0 8rem;
    border-radius: 16px;
    color: var(--Quinary-color);
    font-weight: 900;
    width: fit-content;
    align-self: flex-end;
    justify-self: center;
    position: relative;
    height: fit-content;
}
.magazine__popular--title::before{
    position: absolute;
    content: "";
    border-radius: inherit;
    width: 100vw;
    height: 7rem;
    background-color: var(--Primary-color);
    left: 0;
    top: -20%;
    z-index: -1;
}
.magazine__popular--cards{
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    gap: 2rem;
}
.magazine__popular--cards__card{
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid var(--Trinary-color);
    border-radius: 16px;
}
.magazine__popular--cards__card--img{
    width: 20rem;
    height: 20rem;
    flex-shrink: 0;
    align-self: center;
    padding: 0 2rem;
    border-radius: 8px;
}
.magazine__popular--cards__card--img img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
.magazine__popular--cards__card--content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    text-align: right;
    gap: 1rem;
    padding: 1rem 2rem;
}
/**************** popular magazines style end ******************/


/**************** Latest magazines style ******************/
.magazine__latest{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 2rem;
}
.magazine__latest--cards{
    display: grid;
    grid-template-columns: repeat(4,30rem);
    grid-template-rows: repeat(3,fit-content);
    text-align: right;
    gap: 2rem;
}
.magazine__latest--cards__card{
    border: 1px solid var(--Trinary-color);
    border-radius: 1.2rem;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 0 2rem;
    text-wrap: wrap;
}
.magazine__latest--cards__card--img{
    padding: 1.5rem 0;
    padding-bottom: 1rem;
    width: initial;
    height: 20rem;
    border-radius: 8px;
}
.magazine__latest--cards__card--img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.magazine__latest--cards__card--content{
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    line-height: 2.6rem;
    gap: 1.5rem;
}
.magazine__latest--cards__card--content__para{
    text-align: justify;
}
/**************** Latest magazines style end ******************/


/**************** footer style ******************/
.footer{
    display: flex;
    flex-direction: column;
    margin-top: 14.5rem;
    position: relative;
    padding: 0 var(--padding-medium);
    background-color: var(--Primary-color);
}
.footer__services{
    display: flex;
    width: 100%;
    position: absolute;
    left: 0;
    top: -13%;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.footer__services--item{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: var(--Quinary-color);
    width: 25rem;
    height: 20rem;
    border: 1px solid rgba(182, 182, 182, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 2rem;
}
.footer__services--item__para{
    font-weight: 400;
    font-size: 24px;
}
.footer__about{
    padding: 18rem 0;
    color: #FFFFFF;
    display: flex;
    flex-direction: row-reverse;
    gap: 7.5rem;
}
.footer__about--intro{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    gap: 2rem;
}
.footer__about--intro__para{
    width: 55.7rem;
}
.footer__about--intro__pages{
    display: flex;
    background-color: #FFFFFF;
    border-radius: 24px;
    align-items: center;
    padding: 1.6rem;
    gap: 2.5rem;
}
.footer__about--intro__pages--img{
    width: 14.6rem;
    height: 12.8rem;
}
.footer__about--intro__pages--img img{
    width: 100%;
    height: 100%;
}
.footer__about--quick{
    width: 16.9rem;
    display: flex;
    justify-content: center;
    text-align: right;
}
.footer__about--quick--list{
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}
.footer__about--quick--list__title{
    font-weight: 800;
    font-size: 24px;
    line-height: 31px;
}
.footer__about--quick--list__links{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    word-break: keep-all;
}
.footer__about--costumer-service{
    width: 16.9rem;
    display: flex;
    justify-content: center;
    text-align: right;
}
.footer__about--costumer-service--list{
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}
.footer__about--costumer-service--list__title{
    font-weight: 800;
    font-size: 24px;
    line-height: 31px;
}
.footer__about--costumer-service--list__links{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
}
.footer__about--icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 32rem;
}
.footer__about--icons *{
    width: 43.66px;
    height: 48px;
}
/**************** footer style end ******************/

/***************************? Responsive ***************************/

@media screen and (max-width : 1000px) {


    /**************************** header responsive ******************************/
    .header__landing{
        display: none;
    }
    .header__menu--upp{
        display: grid;
        grid-template-rows: repeat(2,6rem);
        grid-template-columns: 15% 70% 15%;
        height: fit-content;
        padding-bottom: 0;
    }
    .header__menu--upp__mobile-logo{
        display: block;
        grid-row: 1 / span 1;
        grid-column: 2 / 3;
        place-self: center;
    }
    .header__menu--upp__mobile-bars{
        display: block;
        grid-row: 1 / 2;
        grid-column: 3 / -1;
        justify-self: end;
        align-self: center;
    }
    .header__menu--upp__mobile-bars--btn{
        width: 2.8rem;
        height: 2.8rem;
    }
    .header__menu--upp__right{
        flex-wrap: wrap;
        grid-row: 2 / -1;
        grid-column: 1 / -1;
    }
    .header__menu--upp__right--search{
        flex-basis: 100%;
    }
    .header__menu--upp__right--logo{
        display: none;
    }
    .header__menu--upp__left{
        justify-content: baseline;
        align-items: baseline;
        height: fit-content;
        grid-row: 1 / 2;
        grid-column: 1/2;
        justify-self: start;
        align-self: center;
    }
    .fa-circle-user{    /*removing profile icon*/
        display: none;
    }
    .header__menu--low{
        display: none;
    }
    .header__hamburger{
        position: absolute;
        box-shadow: -4px 4px 20px 0px rgba(0, 0, 0, 0.12);
        right: 0;
        top: 0;
        bottom: 0;
        padding: 4rem 3rem;
        padding-top: 6rem;
        width: 20rem;
        height: 100vh;
        background-color: var(--Quinary-color);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 60;
        overflow: scroll;
        transition: all 0.5s ease-in;
    }
    .header__hamburger--items{
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }
    .header__hamburger--items__profile{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 1rem;
    }
    .header__hamburger--items__item{
        font-size: 16px;
        font-weight: 400;
        line-height: 20.8px;
        text-align: right;
        gap: 1.6rem;
    }
    .header__hamburger--items li{
        border-bottom: 2px solid rgba(217, 217, 217, 0.7);
        padding-bottom: 3vh;        
    }
    .header__hamburger--items__item:last-child{
        border-bottom: none;
    }
    .header__hamburger--cancel__btn{
        position: absolute;
        color: var(--Primary-color);
        top: 2rem;
        right: 2rem;
        width: 2.8rem;
        height: 2.8rem;
    }
    /**************************** header responsive end ******************************/
}


/***************************? Responsive end ***************************/